.main-title {
	text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 12px;
	margin-block: 1rem;
	text-align: center;
}

.img-conatiner {
	width: 79vw;
	height: 75vh;
	margin: 0 auto;
	margin-top: 2rem;
}

.img-conatiner>img {
	width: 100%;
	height: 100%;
}