.todo-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50vw;
	margin-inline: auto;
	margin-top: 2rem;
	padding: 1rem 2rem;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: white;
}

.todo-inp-btn-container {
	display: flex;
}

.title {
	text-align: center;
	font-size: 2rem;
	margin-top: 2rem;
	text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 12px;
}